<li>
  <p>Reservation under: <b><%= reservation.name.humanize %></b></p>
  <p>Party size: <b><%= reservation.party_size %></b> </p>
  <p>Reserved for: <b><%= reservation.start_time.strftime("%B %e, %Y at %l:%M %p") %></b> </p>
</li>
