<section class="headers col-md-6 col-md-offset-3">
  <h4>BabyBin and the Goat</h4>
  <h5>You saved time using BabyBin, now enjoy that time at BabyBin and the Goat</h5>
</section>

<section class="main col-md-6 col-md-offset-3">

  <div class="col-md-8 col-md-offset-2">
    <%= render 'form' %>
  </div>

  <div class="col-md-12">
    <ul id="reservationList">
      <% unless @upcoming_reservations.nil? %>
        <% @upcoming_reservations.each do |reservation| %>
          <%= render 'reservation', reservation: reservation %>
        <% end %>
      <% else %>
        <li id="noReservations"><p>There are currently no upcoming reservations.</p></li>
      <% end %>
    </ul>
  </div>

</section>

