@import "bootstrap-sprockets";
@import "bootstrap";

main {
  @extend .container;
  padding-bottom: 80px;
  width: 100%;
  background: url(asset-path("crossword.png")) repeat;
  background-size: cover;
  min-height: 100%;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  z-index: 1;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  padding: 0px;
  margin: 0px;
  display: block;
  list-style-type: none;
}

p {
  margin-bottom: 0px;
}

a:focus, textarea:focus, button:focus {
  outline: none;
}

a, a:hover {
  text-decoration: none;
  outline: none;
  text-decoration: none;
}

textarea {
  resize: none;
}

p {
  margin-bottom: 0px;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

.column {
  @extend .col-md-6;
  @extend .text-center;
}

.form {
  @extend .col-md-6;
}

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

%transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
